@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

*{
    scroll-margin-bottom: 90px;
}

@keyframes grow {
    0%{width: 0;}
    100%{width: 100%;}
}

.grow-temporary{
    animation: grow 8s infinite linear;
}