@tailwind base;
@tailwind components;
@tailwind utilities;

/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/DMSans-Regular.ttf") format('truetype');
  font-display: swap;
  
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/DMSans-Medium.ttf") format('truetype');
  font-display: swap;
 
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/DMSans-Bold.ttf") format('truetype');
  font-display: swap;
 
}


html {
  scroll-behavior: smooth;
}

* {
  scroll-margin-top: 8rem;
}

/* custom styles */
.perspective {
  perspective: 200px;
}

.link-hover:hover svg {
  stroke: #7effd1;
}
